.main_style{
    font-family: 'Oswald', sans-serif;
   /* background-color: #f5f6f8;*/

}

nav {
    text-align: center;
    margin-top: 45px;
}

.nav_bar a{
    text-decoration: none;
    color: #318c7a;
    font-size: 25px;
    margin: 40px;
}

.nav_bar{
    padding-bottom: 50px;
}

.nav_bar :hover{
    color: #FFA500;
}

.main_image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f6f8;
    max-width: 1280px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*.text_content{*/
    /*background-color: #f5f6f8;*/
    /*width: 100%;*/
/*}*/

.text_content h1{
    text-align: center;
    color: #323335;
}

.text_content p{
    color: #323335;
    text-align: center;
    margin: 40px;
}

.button button{
    background-color: #17a086;
    color: #ffffff;
    border-style: solid;
    border-color: #17a086;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}


.button{
    text-align: center;
}

.button :hover{
    background-color: #FFA500;
    color: #323335;
    border-color: #FFA500;
}

.footer{
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: right;
    padding-right: 150px;
}
.for_color{

    background-color: #f5f6f8;
    padding-bottom: 100px;

}
